default  
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.url == "/" %}
    <title>{{ site.description }}</title>
    {% else %}
    <title>{{ page.title | default: site.title }}</title>
    {% endif %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" href="/favicon.png">
  </head>

  <body>
    <header>
      <div class="container">
        <a href="/" style="text-decoration: none;">
          <h3>{{ site.title | default: site.github.repository_name }}</h3>
        </a>
        <h4>{{ site.description | default: site.github.project_tagline }}</h4>

        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content" class="{% if page.url == '/' %}home{% endif %}">
        {{ content }}
      </section>
    </div>
    
     </body>
</html>